<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="mobipick" doc="Namespace to push all topics into"/>
  <arg name="robot"     default="mobipick-os" doc="Which variant of the mobipick? Can be 'mobipick-hb' or 'mobipick-os'" />
  <arg name="gui" default="true" />
  <arg name="start_paused" default="true" />
  <arg name="physics_profile" default="fast" doc="options: slow, fast" />
  <arg name="arm_controller" default="trajectory" doc="Which arm controller to start. Options are trajectory, velocity, position" />

  <include file="$(find mobipick_gazebo)/launch/mobipick/mobipick_empty_world.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="arm_controller" value="$(arg arm_controller)" />
    <arg name="world_name" value="$(find mobipick_gazebo)/worlds/rh5_mrk_lab.sdf"/>
    <arg name="robot_x"   value="9.00" />
    <arg name="robot_y"   value="11.327" />
    <arg name="robot_yaw" value="1.57" />
    <arg name="start_paused" value="$(arg start_paused)" />
    <arg name="physics_profile" value="$(arg physics_profile)" />
  </include>

  <!-- spawn power drill -->
  <include file="$(find mobipick_gazebo)/launch/objects/power_drill.launch">
    <arg name="x"     default="9.85" />
    <arg name="y"     default="11.38" />
    <arg name="z"     default="1.02" />
    <arg name="roll"  default="$(eval pi / 2)" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw"   default="$(eval -pi  *2  / 3)" />
  </include>


  <!-- spawn table -->

  <param name="table_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/tall_table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_1 -x 10.05 -y 11.35"
    respawn="false" output="screen" />

</launch>
