<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="true" />

  <group>
    <remap from="joint_states"                   to="mobipick/joint_states" />
    <remap from="mobile_base_controller/cmd_vel" to="cmd_vel" />
    <remap from="mobile_base_controller/odom"    to="odom_comb" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true" />
      <arg name="gui" value="$(arg gui)" />
    </include>
  </group>

  <!-- Add passive + mimic joints to joint_states topic -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[mobipick/joint_states]</rosparam>
    <param name="rate" value="200.0" />
  </node>

  <!-- spawn robot and bring up controllers etc. -->
  <include file="$(find mobipick_gazebo)/launch/mobipick/mobipick_gazebo_common.launch" />

  <!-- spawn coke can -->
  <include file="$(find mobipick_gazebo)/launch/objects/coke_can.launch">
    <arg name="x" value="1.05" />
    <arg name="y" value="-0.25" />
    <arg name="z" value="1.01" />
  </include>

  <!-- spawn table -->
  <param name="table_description"
    command="$(find xacro)/xacro.py '$(find mobipick_gazebo)/urdf/tall_table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_1 -x 1.1"
    respawn="false" output="screen" />
</launch>
