<?xml version="1.0" ?>
<launch>
  <arg name="robot" default="mobipick-os" doc="Which variant of the mobipick? Can be 'mobipick-hb' or 'mobipick-os'" />
  <arg name="gui" default="true" />
  <arg name="arm_controller" default="trajectory" doc="Which arm controller to start. Options are trajectory, velocity, position" />

  <include file="$(find mobipick_gazebo)/launch/mobipick/mobipick_empty_world.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="arm_controller" value="$(arg arm_controller)" />
  </include>

  <!-- spawn power drill -->
  <include file="$(find mobipick_gazebo)/launch/objects/power_drill.launch" />

  <!-- spawn table -->
  <param name="table_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/tall_table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_1 -x 1.1"
    respawn="false" output="screen" />
</launch>
