<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true" />
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
  <arg name="arm_velocity_controller" default="false" doc="Start the arm velocity controller instead of the trajectory controller?" />

  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="0.0" />
  <arg name="robot_yaw" default="0.0" />

  <arg name="namespace" default="mobipick" doc="Namespace to push all topics into"/>

  <arg name="start_paused" default="true" />

  <group>
    <remap from="mobipick/mobile_base_controller/cmd_vel" to="mobipick/cmd_vel" />
    <remap from="mobipick/mobile_base_controller/odom"    to="mobipick/odom_comb" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="$(arg start_paused)" />
      <arg name="gui" value="$(arg gui)" />
    </include>
  </group>

  <!-- Add passive + mimic joints to joint_states topic -->
  <group ns="$(arg namespace)">
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/mobipick/joint_states]</rosparam>
    <param name="rate" value="200.0" />
  </node>
</group>

  <group ns="$(arg namespace)">
  <!-- spawn robot and bring up controllers etc. -->
  <include file="$(find mobipick_gazebo)/launch/mobipick/mobipick_gazebo_common.launch">
    <arg name="arm_velocity_controller" value="$(arg arm_velocity_controller)" />
    <arg name="robot_x"   value="$(arg robot_x)" />
    <arg name="robot_y"   value="$(arg robot_y)" />
    <arg name="robot_yaw" value="$(arg robot_yaw)" />
  </include>
  </group >


    <!-- Robotiq command bridge-->
    <include file="$(find mobipick_gazebo)/launch/robotiq_2f_140/robotiq_2f_140_bridge.launch">
      <arg name="gripper_ns" value="$(arg namespace)" />
    </include>
</launch>
