<?xml version="1.0" ?>

<launch>
  <group>
    <remap from="joint_states"                   to="mobipick/joint_states" />
    <remap from="mobile_base_controller/cmd_vel" to="cmd_vel" />
    <remap from="mobile_base_controller/odom"    to="odom_comb" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true" />
    </include>
  </group>

  <!-- Add passive + mimic joints to joint_states topic -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[mobipick/joint_states]</rosparam>
    <param name="rate" value="200.0" />
  </node>

  <!-- Convert xacro to URDF and upload to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobipick_description)/urdf/mobipick/mobipick_v1_model.urdf.xacro" />

  <!-- Spawn a robot into Gazebo -->
  <!-- Don't set ur5_shoulder_lift_joint to values smaller than -2.16 (for example, -2.60), otherwise Gazebo adds 2 pi to the reported joint_states -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobipick
    -J ur5_shoulder_pan_joint 0.00 -J ur5_shoulder_lift_joint -2.10 -J ur5_elbow_joint 2.43 -J ur5_wrist_1_joint -2.05 -J ur5_wrist_2_joint -1.57 -J ur5_wrist_3_joint 1.57" />

  <!-- spawn coke can -->
  <include file="$(find mobipick_gazebo)/launch/objects/coke_can.launch">
    <arg name="x" value="0.85" />
    <arg name="y" value="-0.20" />
    <arg name="z" value="1.03" />
  </include>

  <!-- spawn table -->
  <param name="table_description"
    command="$(find xacro)/xacro.py '$(find mobipick_gazebo)/urdf/tall_table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_1 -x 1.0"
    respawn="false" output="screen" />
</launch>
