<launch>
  <group ns="bb">
    <param name="tf_prefix" type="string" value="bb"/>

    <arg name="local_planner" default="dwa" doc="Local planner can be either dwa, teb or pose"/>
    <arg name="map_file" default="$(find amparo_launch)/rosnav/map_airbus_mir_0.10.yaml"/>
    <arg name="virtual_walls_map_file" default="$(find amparo_launch)/rosnav/map_airbus_mir_virtual_walls_0.10.yaml"/>

    <include file="$(find mobipick_navigation)/launch/start_maps.launch">
      <arg name="map_file" value="$(arg map_file)" />
      <arg name="virtual_walls_map_file" value="$(arg virtual_walls_map_file)" />
    </include>

    <include file="$(find mobipick_navigation)/launch/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
    </include>

    <node name="mir100_bridge" pkg="mir100_driver" type="mir100_bridge.py" output="screen">
      <param name="hostname" value="192.168.12.20" />
      <param name="tf_prefix" value="bb" />
      <remap from="rosout" to="/rosout" />
      <remap from="tf" to="/tf" />
    </node>

    <node name="rep117_laser_filter" pkg="mir100_driver" type="rep117_filter.py" output="screen">
      <remap from="scan_filtered" to="scan_rep117" />
    </node>
  </group>
</launch>
