<launch>
    <!--arg name="map_file" default="$(find mobipick_navigation)/config/dfki_foyer.yml"/>
    <arg name="virtual_walls_map_file" default="$(find mobipick_navigation)/config/dfki_foyer_virtual_walls.yml"/-->
    <arg name="map_file" default="$(find mobipick_navigation)/config/map_airbus_part_small.yaml"/>
    <arg name="virtual_walls_map_file" default="$(find mobipick_navigation)/config/airbus_virtual_walls.yml"/>
    <node name="static_map_server" pkg="map_server" type="map_server" args="$(arg map_file)" ns="/" output="screen">
        <param name="frame_id" type="string" value="/map"/>
    </node>
    <node name="virtual_walls_map_server" pkg="map_server" type="map_server" args="$(arg virtual_walls_map_file)" ns="/virtual_walls" output="screen">
        <param name="frame_id" type="string" value="/map"/>
    </node>
</launch>
