<?xml version="1.0"?>
<robot>
  <material name="robotiq_silver">
    <color rgba="0.79 0.82 0.93 1" />
  </material>

  <material name="robotiq_almost_black">
    <color rgba="0.1 0.1 0.1 1" />
  </material>

  <material name="robotiq_light_grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>
</robot>
