<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mobipick_description)/urdf/common_properties.urdf.xacro" />

  <xacro:macro name="robotiq_fingertip_65mm" params="prefix fingerprefix stroke">
    <link name="${prefix}${fingerprefix}_robotiq_fingertip_65mm">
      <inertial>
        <!-- <origin xyz="0 32.3E-03 -3.4587E-03" rpy="0 0 0" /> -->
        <origin xyz="0 0.0323 -0.003459" rpy="${pi} ${0.5 * pi} ${0.5 * pi}" />
        <mass value="3.3455E-2" />
        <inertia ixx="13.66E-6"
          ixy="0"
          ixz="0"
          iyy="11.784E-6"
          iyz="0"
          izz="2.15E-6" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mobipick_description/meshes/robotiq_2f_140/robotiq_arg2f_${stroke}_fingertip_65mm.stl" />
        </geometry>
        <xacro:insert_block name="material_grey" />
      </visual>
      <collision>
        <origin xyz="0.00005 0.0325 -0.0035" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="package://mobipick_description/meshes/robotiq_2f_140/robotiq_arg2f_${stroke}_fingertip_65mm.stl" /> -->
          <!-- using box instead of mesh for collision produces less vibration of the fingers when grasping objects -->
          <box size="0.0271 0.065 0.007"/> <!-- values ok for stroke of 140, only? -->
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}${fingerprefix}_robotiq_fingertip_65mm">
      <material>Gazebo/Grey</material>
      <!-- high friction value to prevent objects from slipping the gripper fingers -->
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <!-- a low kp (stiffness value) allows some penetration of the material making the gripper "soft".
           The reason to prefer a soft gripper is to increase friction by increasing the contact area,
           specially when the surface of the object to grasp is irregular, e.g. a mesh
           see: https://classic.gazebosim.org/tutorials?tut=physics_params&cat=physics -->
      <kp>5000.0</kp> <!-- 5000.0 - medium gripper finger "softness", 1000000.0 - hard/rigid gripper finger -->
      <kd>1.0</kd>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="fingertip_joint" params="prefix fingerprefix">
    <joint name="${prefix}${fingerprefix}_fingertip_joint" type="fixed">
      <origin xyz="0 0.013513 -0.018469" rpy="0 0 0" />
      <parent link="${prefix}${fingerprefix}_inner_finger" />
      <child link="${prefix}${fingerprefix}_robotiq_fingertip_65mm" />
      <axis xyz="0 0 1" />
    </joint>
  </xacro:macro>
</robot>
