<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- The finger joint is driven through the EffortJointInterface so that the
       mobipick_gripper_effort_controller can enforce the torque limit requested
       via GripperCommand.max_effort. Joints on the EffortJointInterface do not
       need gazebo_ros_control PID gains (those are only used for the
       Position/VelocityJointInterface, see
       https://github.com/ros-simulation/gazebo_ros_pkgs/issues/612). -->
  <xacro:macro name="robotiq_arg2f_transmission" params="prefix hw_interface:=hardware_interface/EffortJointInterface">
    <transmission name="${prefix}finger_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_joint_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
