<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="True" />
  <arg name="mir_100_ns" default="mir_100" />
  <arg name="use_ros_control" default="false" />  <!-- false: use diff_controller, true: use ros_control -->

<group ns="$(arg mir_100_ns)">
  <include file="$(find mobipick_gazebo)/launch/mir_100/spawn_mir_100.launch">
        <arg name="namespace" value="$(arg mir_100_ns)" /> 
        <arg name="use_ros_control" value="$(arg use_ros_control)" />
   </include>

  <!-- load  teleop -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="mobile_base_controller/cmd_vel"/>
    <param name="default_vx_max" value="1.0" />
    <param name="default_vx_min" value="-1.0" />
    <param name="default_vw_max" value="1.5" />
    <param name="default_vw_min" value="-1.5" />
  </node>

  <group if="$(arg use_ros_control)">
    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam file="$(find mobipick_description)/config/joint_state_controller.yaml" command="load" />
    <rosparam file="$(find mobipick_description)/config/mir_100/diffdrive_controller.yaml" command="load" />

    <!-- load the controllers -->
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller"/>
    <node name="diffdrive_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="mobile_base_controller"/>
  </group>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!-- <remap from="/joint_states" to="/mir_100/joint_states" /> -->
  </node>

</group>


</launch>
