<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="True" />
  <arg name="gripper_ns" default="gripper" />
  <arg name="paused" default="true" />

<!-- <include file="$(find ur_gazebo)/launch/ur5_joint_limited.launch" />  -->

<group ns="$(arg gripper_ns)">

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mobipick_description)/config/ur5/arm_controller_ur5.yaml" command="load" />
  <rosparam file="$(find mobipick_description)/config/joint_state_controller.yaml" command="load" />


  <include file="$(find mobipick_gazebo)/launch/ur5/spawn_ur5.launch">
        <arg name="namespace" value="$(arg gripper_ns)" /> 
        <arg name="paused" value="$(arg paused)" /> 
  </include>

  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="arm_controller joint_state_controller"/>


  <!-- <node pkg="rostopic" type="rostopic" name="arm_initial_command" args="pub /$(arg gripper_ns)/arm_controller/command trajectory_msgs/JointTrajectory
	'{header: { seq: 1, stamp: now, frame_id: ur5 },
	  joint_names:[shoulder_pan_joint, shoulder_lift_joint, elbow_joint, wrist_1_joint, wrist_2_joint, wrist_3_joint], 
	  points:[
			{positions: [0, -1.570796327, 0, -1.570796327, 0, 0], 
			 velocities: [0, 0, 0, 0, 0, 0], 
			 accelerations: [0, 0, 0, 0, 0, 0], 
			 time_from_start: {secs: 2, nsecs: 100000000}}
	  	  ]}'"/>  -->

</group>


</launch>
