<launch>
  <node name="mobipick_pick_n_place" pkg="mobipick_pick_n_place" type="mobipick_pick_n_place" output="screen">
    <rosparam command="load" file="$(find mobipick_moveit_config)/config/kinematics.yaml" />
    <param name="arm_prefix" value="ur5_" />   <!-- needed until https://github.com/ros-industrial/universal_robot/pull/334 is merged -->
  </node>
</launch>
