<robot  xmlns:xacro="http://ros.org/wiki/xacro" name="power_drill_with_grip_model">
  <xacro:include filename="$(find mobipick_description)/urdf/common_properties.urdf.xacro" />

  <xacro:property name="mass" value="1.284" />

  <link name="power_drill_with_grip">
    <inertial>
      <origin xyz="0.01572397 0.00627010 -0.00088096" rpy="0 0 0" />
      <mass value="${mass}" />
      <inertia
        ixx="${mass * 0.006644088398958405}"
        ixy="${mass * -0.00021896180608560679}"
        ixz="${mass * -4.562260404751529e-06}"
        iyy="${mass * 0.002253199387886466}"
        iyz="${mass * -3.265842622139487e-05}"
        izz="${mass * 0.007951044267639611}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pbr_objects/meshes/power_drill_with_grip/power_drill_with_grip.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pbr_objects/meshes/power_drill_with_grip/power_drill_with_grip_simplified.stl" />
      </geometry>
    </collision>
  </link>
</robot>
