<robot  xmlns:xacro="http://ros.org/wiki/xacro" name="relay_model">
  <xacro:include filename="$(find mobipick_description)/urdf/common_properties.urdf.xacro" />

  <xacro:property name="mass" value="0.256" />
  <xacro:property name="bb_size_x" value="0.0575" />
  <xacro:property name="bb_size_y" value="0.0451" />
  <xacro:property name="bb_size_z" value="0.104364" />

  <xacro:macro name="box_inertia" params="m x y z">
    <inertia   ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
               iyy="${m*(x*x+z*z)/12}" iyz = "0"
               izz="${m*(x*x+y*y)/12}" />
  </xacro:macro>

  <link name="relay">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${mass}" />
      <xacro:box_inertia m="${mass}" x="${bb_size_x}" y="${bb_size_y}" z="${bb_size_z}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pbr_objects/meshes/relay/relay.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
         <box size="${bb_size_x} ${bb_size_y} ${bb_size_z}" />
        <!--<mesh filename="package://pbr_objects/meshes/relay/relay_simplified.stl" />-->
      </geometry>
    </collision>
  </link>
</robot>
