<launch>
    <!-- This launchfile is supposed to be run on mobipick-os-sensor.
         It launches mobipick_bringup.launch locally,
         and         mobipick_bringup_control.launch on mobipick-os-control. -->


    <!-- arguments are simply passed down to the other include files -->
    <!-- Note: Not all arguments have been added here. For more see the included files -->
    <arg name="namespace" default="mobipick" /> <!-- node namespace -->
    <arg name="tf_prefix" default="mobipick" /> <!-- tf namespace (not a rosparam!) -->
    <arg name="robot_version" default="os" /> <!-- hb or os, default to os as only the os mobipick runs ros on both sensor- and control-pc. -->
    <arg name="mir_hostname" default="192.168.12.20" />
    <arg name="robot_ip" default="192.168.100.64" /> <!-- UR5 -->

    <!-- locally (mobipick-os-sensor) -->
    <include file="$(find mobipick_bringup)/launch/mobipick_bringup.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="robot_version" value="$(arg robot_version)" />
        <arg name="mir_hostname" value="$(arg mir_hostname)" />
    </include>

    <!-- from now on: everything remotely -->
    <machine name="control" address="mobipick-os-control" user="robot" default="true"
      env-loader="/home/robot/ros/devel/env.sh" />

    <!-- remotely (mobipick-os-control) -->
    <include file="$(find mobipick_bringup)/launch/mobipick_bringup_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
</launch>
