<launch>
  <arg name="namespace" default="mobipick" doc="Namespace to push all topics into"/>
  <arg name="tf_prefix" default=""         doc="TF prefix to use for all of Mobipick's TF frames"/>

  <arg name="mir_hostname" default="192.168.12.20" />

  <!-- 16112210198 = astra_mini_s_1 (OS); TODO: adjust to astra mini s on mobipick-hb -->
  <arg name="astra_serial" default="16112210198" doc="serial number of the camera (see back of camera, or `rosrun astra_camera astra_list_devices`)" />

  <group ns="$(arg namespace)">
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)"/>

    <!-- URDF -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobipick_description)/urdf/mobipick/mobipick_v1_model.urdf.xacro" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <!-- MiR base -->
    <node name="mir100_bridge" pkg="mir100_driver" type="mir100_bridge.py" output="screen">
      <param name="hostname" value="$(arg mir_hostname)" />
      <param name="tf_prefix" value="$(arg tf_prefix)" />
      <remap from="rosout" to="/rosout" />
      <remap from="tf" to="/tf" />
    </node>

    <node name="rep117_laser_filter" pkg="mir100_driver" type="rep117_filter.py" output="screen">
      <remap from="scan_filtered" to="scan_rep117" />
    </node>

    <node name="fake_mir_joint_publisher" pkg="mir100_driver" type="fake_mir_joint_publisher.py" output="screen" />

    <!-- Astra gripper camera -->

    <include file="$(find astra_launch)/launch/astra.launch">
      <arg name="camera"                value="gripper_astra" />
      <arg name="depth_registration"    value="false" />  <!-- depth_registration:=true leads to incorrect depth scaling! (objects in point cloud appear smaller than they are) -->
      <arg name="publish_tf"            value="false" />
      <arg name="depth_frame_id"        value="$(arg tf_prefix)/gripper_astra_depth_optical_frame" if="$(eval tf_prefix != '')" />
      <arg name="rgb_frame_id"          value="$(arg tf_prefix)/gripper_astra_rgb_optical_frame"   if="$(eval tf_prefix != '')" />
      <arg name="device_id"             value="$(arg astra_serial)" />
      <arg name="rgb_camera_info_url"   value="package://mobipick_bringup/camera_info/rgb_$(arg astra_serial).yaml" />
      <arg name="depth_camera_info_url" value="package://mobipick_bringup/camera_info/depth_$(arg astra_serial).yaml" />
    </include>
    <param name="gripper_astra/driver/data_skip" value="9" />

    <!-- Pico Flexx gripper camera -->

    <include file="$(find pico_flexx_driver)/launch/pico_flexx_driver.launch">
      <arg name="base_name" value="gripper_pico_flexx" />
    </include>
  </group>
</launch>
