<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mobipick_description)/urdf/common_properties.urdf.xacro" />

  <xacro:property name="dual_xtion_mount_mass" value="0.060" />
  <xacro:property name="xtion_mass" value="0.170" />

  <!-- distance between center of camera and camera_link -->
  <xacro:property name="xtion_cam_py" value="0.069"/>

  <xacro:macro name="dual_xtions" params="prefix">
    <link name="${prefix}dual_xtion_mount_link" />

    <joint name="${prefix}dual_xtion_left_mount" type="fixed">
      <parent link="${prefix}dual_xtion_mount_link" />
      <child link="${prefix}dual_xtion_left_mount_link" />
      <origin xyz="0 0.06 0" rpy="0.0 1.571 0.0" />
    </joint>
    <xacro:dual_xtion_mount side="left" prefix="${prefix}" />

    <joint name="${prefix}dual_xtion_right_mount" type="fixed">
      <parent link="${prefix}dual_xtion_mount_link" />
      <child link="${prefix}dual_xtion_right_mount_link" />
      <origin xyz="0 -0.06 0" rpy="0.0 -1.571 3.142" />
    </joint>
    <xacro:dual_xtion_mount side="right" prefix="${prefix}" />

    <joint name="${prefix}dual_xtion_bottom_joint" type="fixed">
      <parent link="${prefix}dual_xtion_mount_link" />
      <child link="${prefix}dual_xtion_bottom_link" />
      <origin xyz="0.045 ${xtion_cam_py} -0.032" rpy="0 0.262 0" />
    </joint>

    <xacro:sensor_xtion camera_name="dual_xtion_bottom" prefix="${prefix}" />

    <joint name="${prefix}dual_xtion_top_joint" type="fixed">
      <parent link="${prefix}dual_xtion_mount_link" />
      <child link="${prefix}dual_xtion_top_link" />
      <origin xyz="0.045 ${xtion_cam_py} 0.032" rpy="0 -0.262 0" />
    </joint>

    <xacro:sensor_xtion camera_name="dual_xtion_top" prefix="${prefix}" />

  </xacro:macro>

  <xacro:macro name="dual_xtion_mount" params="side prefix">
    <link name="${prefix}dual_xtion_${side}_mount_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://mobipick_description/meshes/sensors/peotrac_mount.stl" />
        </geometry>
        <xacro:insert_block name="material_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://mobipick_description/meshes/sensors/peotrac_mount.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${dual_xtion_mount_mass}" />
        <origin xyz="0.0 0.015565191 0.014843559" rpy="0 0 0" />
        <inertia ixx="${dual_xtion_mount_mass * 0.00054183681}"
                 ixy="${dual_xtion_mount_mass * -0.0000000014037452}"
                 ixz="${dual_xtion_mount_mass * -0.0000000034183191}"
                 iyy="${dual_xtion_mount_mass * 0.00081506484}"
                 iyz="${dual_xtion_mount_mass * 0.00012522968}"
                 izz="${dual_xtion_mount_mass * 0.0008327177}" />
      </inertial>
    </link>
    <gazebo reference="${prefix}dual_xtion_${side}_mount_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>

  <!-- ##################################################################### -->
  <!-- ######################## ASUS Xtion Pro Live ######################## -->
  <!-- ##################################################################### -->
  <xacro:macro name="sensor_xtion" params="camera_name prefix">
    <link name="${prefix}${camera_name}_link">
      <visual>
        <origin xyz="0 0 0" />
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/xtion_pro_live.dae"/>
        </geometry>
        <xacro:insert_block name="material_black" />
      </visual>
      <collision>
        <origin xyz="${-0.036 / 2} ${-xtion_cam_py} 0.0" />
        <geometry>
          <box size="0.036 0.18 0.024" />
        </geometry>
      </collision>
      <xacro:box_inertial mass="${xtion_mass}" x="0.036" y="0.18" z="0.024">
        <origin xyz="${-0.036 / 2} ${-xtion_cam_py} 0.0" />
      </xacro:box_inertial>
    </link>
    <gazebo reference="${prefix}${camera_name}_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <joint name="${prefix}${camera_name}_rgb_joint" type="fixed">
      <origin xyz="0 -0.045 0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_link"/>
      <child link="${prefix}${camera_name}_rgb_frame" />
    </joint>
    <link name="${prefix}${camera_name}_rgb_frame"/>

    <joint name="${prefix}${camera_name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_rgb_frame" />
      <child link="${prefix}${camera_name}_rgb_optical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_rgb_optical_frame"/>

    <joint name="${prefix}${camera_name}_depth_joint" type="fixed">
      <origin xyz="0 -0.02 0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_link"/>
      <child link="${prefix}${camera_name}_depth_frame" />
    </joint>
    <link name="${prefix}${camera_name}_depth_frame"/>

    <joint name="${prefix}${camera_name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_depth_frame" />
      <child link="${prefix}${camera_name}_depth_optical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_depth_optical_frame"/>

    <xacro:sim_3dsensor prefix="${prefix}" />  <!-- NOTE: sim_3dsensor macro from gripper_cam is used here -->
  </xacro:macro>
</robot>
