<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mobipick_description)/urdf/common_properties.urdf.xacro" />

  <xacro:property name="sensor_mount_mass" value="0.060" />
  <xacro:property name="sensor_mount_bracket_mass" value="0.040" />
  <xacro:property name="sensor_mount_pico_holder_mass" value="0.020" />
  <xacro:property name="astra_s_mass" value="0.300" />
  <xacro:property name="pico_flexx_mass" value="0.008" />

  <!-- distance between center of camera and camera_link -->
  <xacro:property name="astra_cam_py" value="0.0485"/>

  <xacro:macro name="gripper_cam" params="prefix">
    <xacro:sensor_mount prefix="${prefix}" />
    <joint name="${prefix}gripper_astra_joint" type="fixed">
      <origin xyz="-0.032 0.033 -0.065" rpy="${pi/2} ${pi/2} ${-pi/2}" />
      <parent link="${prefix}sensor_mount_link"/>
      <child link="${prefix}gripper_astra_link"/>
    </joint>

    <xacro:sensor_astra_mini_s camera_name="gripper_astra" prefix="${prefix}" />

    <joint name="${prefix}gripper_pico_flexx_joint" type="fixed">
      <origin xyz="0.01545 0.0001 0.008" rpy="${-pi/2} 0.0 -0.03650298564336946" />
      <parent link="${prefix}sensor_mount_pico_holder_link"/>
      <child link="${prefix}gripper_pico_flexx_link"/>
    </joint>

    <xacro:sensor_pico_flexx camera_name="gripper_pico_flexx" prefix="${prefix}" />
  </xacro:macro>

  <xacro:macro name="sensor_mount" params="prefix">
    <link name="${prefix}sensor_mount_link">
      <visual>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <xacro:insert_block name="material_almost_white" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${sensor_mount_mass}" />
        <origin xyz="-0.006815249 0.054455677 -0.011470736" rpy="0 0 0" />
        <inertia ixx="${sensor_mount_mass * 0.0018998439}"
          ixy="${sensor_mount_mass * 0.0000011290362}"
          ixz="${sensor_mount_mass * -0.000004403006}"
          iyy="${sensor_mount_mass * 0.0013046557}"
          iyz="${sensor_mount_mass * 0.00004099457}"
          izz="${sensor_mount_mass * 0.00062646503}" />
      </inertial>
    </link>
    <gazebo reference="${prefix}sensor_mount_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="${prefix}sensor_mount_bracket_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}sensor_mount_link"/>
      <child link="${prefix}sensor_mount_bracket_link" />
    </joint>

    <link name="${prefix}sensor_mount_bracket_link">
      <visual>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount_bracket.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <xacro:insert_block name="material_almost_white" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount_bracket.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${sensor_mount_bracket_mass}" />
        <origin xyz="-0.006750000 -0.030390745 0.000000062" rpy="0 0 0" />
        <inertia ixx="${sensor_mount_bracket_mass * 0.0010335255}"
          ixy="${sensor_mount_bracket_mass * 0.00000001092523}"
          ixz="${sensor_mount_bracket_mass * -0.00000012318317}"
          iyy="${sensor_mount_bracket_mass * 0.00087473292}"
          iyz="${sensor_mount_bracket_mass * -0.000000049903018}"
          izz="${sensor_mount_bracket_mass * 0.00019156915}" />
      </inertial>
    </link>
    <gazebo reference="${prefix}sensor_mount_bracket_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="${prefix}sensor_mount_pico_holder_joint" type="fixed">
      <origin xyz="-0.00325 0.11187 0" rpy="0 0 ${-33.5 / 180.0 * pi}" /> <!-- angle can be adjusted from -15 to -50 degrees (corresponds to downward angle of the pico flexx) -->
      <parent link="${prefix}sensor_mount_link"/>
      <child link="${prefix}sensor_mount_pico_holder_link" />
    </joint>

    <link name="${prefix}sensor_mount_pico_holder_link">
      <visual>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount_pico_holder.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <xacro:insert_block name="material_almost_white" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/sensor_mount_pico_holder.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${sensor_mount_pico_holder_mass}" />
        <origin xyz="0.001609901 0.102978844 0.008159077" rpy="0 0 0" />
        <inertia ixx="${sensor_mount_pico_holder_mass * 0.00024619688}"
          ixy="${sensor_mount_pico_holder_mass * 0.000027175325}"
          ixz="${sensor_mount_pico_holder_mass * 0.000000014504396}"
          iyy="${sensor_mount_pico_holder_mass * 0.00023794332}"
          iyz="${sensor_mount_pico_holder_mass * -0.0000000015705397}"
          izz="${sensor_mount_pico_holder_mass * 0.000071808769}" />
      </inertial>
    </link>
    <gazebo reference="${prefix}sensor_mount_pico_holder_link">
      <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>

  <!-- ##################################################################### -->
  <!-- ######################## Orbbec Astra Mini S ######################## -->
  <!-- ##################################################################### -->
  <xacro:macro name="sensor_astra_mini_s" params="camera_name prefix">
    <link name="${prefix}${camera_name}_link">
      <visual>
        <origin xyz="0 0 0" />
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/astra_mini.stl"/>
        </geometry>
        <xacro:insert_block name="material_black" />
      </visual>
      <collision>
        <origin xyz="${-0.0325 / 2} ${-astra_cam_py} 0.0" />
        <geometry>
          <box size="0.0525 0.14 0.0575" /> <!-- padded 0.01 for moveit collision checking-->
        </geometry>
      </collision>
      <xacro:box_inertial mass="${astra_s_mass}" x="0.0325" y="0.12" z="0.0375">
        <origin xyz="${-0.0325 / 2} ${-astra_cam_py} 0.0" />
      </xacro:box_inertial>
    </link>
    <gazebo reference="${prefix}${camera_name}_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <joint name="${prefix}${camera_name}_rgb_joint" type="fixed">
      <origin xyz="0 -0.045 0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_link"/>
      <child link="${prefix}${camera_name}_rgb_frame" />
    </joint>
    <link name="${prefix}${camera_name}_rgb_frame"/>

    <joint name="${prefix}${camera_name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_rgb_frame" />
      <child link="${prefix}${camera_name}_rgb_optical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_rgb_optical_frame"/>

    <joint name="${prefix}${camera_name}_rgb_logical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_rgb_frame" />
      <child link="${prefix}${camera_name}_rgb_logical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_rgb_logical_frame"/>

    <gazebo reference="${prefix}${camera_name}_rgb_logical_frame">
      <sensor name="logical_camera" type="logical_camera">
        <logical_camera>
          <near>0.05</near>
          <far>3.50</far>
          <horizontal_fov>${60.0 * pi/180.0}</horizontal_fov>
          <aspect_ratio>${640.0/480.0}</aspect_ratio>
        </logical_camera>
        <visualize>false</visualize>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <plugin name="logical_camera_plugin" filename="liblogical_camera_plugin.so">
          <cameraName>${prefix}${camera_name}</cameraName>
          <imageTopicName>rgb/logical_image</imageTopicName>
          <frameName>${prefix}${camera_name}_rgb_logical_frame</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <joint name="${prefix}${camera_name}_depth_joint" type="fixed">
      <origin xyz="0 -0.02 0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_link"/>
      <child link="${prefix}${camera_name}_depth_frame" />
    </joint>
    <link name="${prefix}${camera_name}_depth_frame"/>

    <joint name="${prefix}${camera_name}_depth_optical_joint" type="fixed">
      <origin xyz="-0.025 0 0" rpy="0 0 0" />   <!-- calibration not necessary, depth_ir_offset used instead -->
      <parent link="${prefix}${camera_name}_rgb_optical_frame" />
      <child link="${prefix}${camera_name}_depth_optical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_depth_optical_frame"/>

    <xacro:sim_3dsensor prefix="${prefix}"/>
  </xacro:macro>

  <xacro:macro name="sim_3dsensor" params="prefix">
    <gazebo reference="${prefix}${camera_name}_depth_frame">
      <sensor type="depth" name="${camera_name}">
        <always_on>true</always_on>
        <update_rate>1.0</update_rate>
        <camera>
          <horizontal_fov>${60.0 * pi/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>3.50</far>  <!-- measured on real camera: 4.0 m on orthogonal surface, 3.5 m at 60 degrees angle -->
          </clip>
        </camera>
        <plugin name="kinect_${camera_name}_controller" filename="libgazebo_ros_openni_kinect.so">
          <cameraName>${camera_name}</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>1.0</updateRate>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <depthImageTopicName>depth_registered/image_raw</depthImageTopicName>
          <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth_registered/camera_info</depthImageCameraInfoTopicName>
          <frameName>${prefix}${camera_name}_depth_optical_frame</frameName>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.35</pointCloudCutoff>  <!-- measured on real camera (same as data sheet) -->
          <pointCloudCutoffMax>3.50</pointCloudCutoffMax>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- ######################################################################### -->
  <!-- ######################## PMD CamBoard pico flexx ######################## -->
  <!-- ######################################################################### -->
  <xacro:macro name="sensor_pico_flexx" params="camera_name prefix">
    <link name="${prefix}${camera_name}_link">
      <visual>
        <origin xyz="0 0 0" />
        <geometry>
          <mesh filename="package://mobipick_description/meshes/sensors/pico_flexx.dae"/>
        </geometry>
        <xacro:insert_block name="material_black" />
      </visual>
      <collision>
        <origin xyz="${0.0072 / 2} 0.0 0.0" />
        <geometry>
          <box size="0.0072 0.068 0.017" />
        </geometry>
      </collision>
      <xacro:box_inertial mass="${pico_flexx_mass}" x="0.0072" y="0.068" z="0.017">
        <origin xyz="${0.0072 / 2} 0.0 0.0" />
      </xacro:box_inertial>
    </link>
    <gazebo reference="${prefix}${camera_name}_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <joint name="${prefix}${camera_name}_depth_joint" type="fixed">
      <origin xyz="0.0072 0.0081 0.0" rpy="0 0 0" />
      <parent link="${prefix}${camera_name}_link"/>
      <child link="${prefix}${camera_name}_frame" />
    </joint>
    <link name="${prefix}${camera_name}_frame"/>

    <joint name="${prefix}${camera_name}_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_frame" />
      <child link="${prefix}${camera_name}_optical_frame" />
    </joint>
    <link name="${prefix}${camera_name}_optical_frame"/>

    <xacro:sim_pico_flexx prefix="${prefix}"/>
  </xacro:macro>

  <xacro:macro name="sim_pico_flexx" params="prefix">
    <gazebo reference="${prefix}${camera_name}_frame">
      <sensor type="depth" name="${camera_name}">
        <always_on>true</always_on>
        <update_rate>1.0</update_rate>
        <camera>
          <horizontal_fov>${60.0 * pi/180.0}</horizontal_fov>
          <image>
            <!-- <format>B8G8R8</format> -->
            <format>L8</format>
            <width>224</width>
            <height>171</height>
          </image>
          <clip>
            <near>0.10</near>
            <far>4.0</far>
          </clip>
        </camera>
        <plugin name="kinect_${camera_name}_controller" filename="libgazebo_ros_openni_kinect.so">
          <cameraName>${camera_name}</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>1.0</updateRate>
          <imageTopicName>image_mono8</imageTopicName>
          <depthImageTopicName>image_depth</depthImageTopicName>
          <pointCloudTopicName>points</pointCloudTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <frameName>${prefix}${camera_name}_optical_frame</frameName>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.10</pointCloudCutoff>
          <pointCloudCutoffMax>4.0</pointCloudCutoffMax>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
