<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mir_100_gazebo" params="prefix">
    
    <gazebo>
      <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <!-- <robotNamespace>/mir_100</robotNamespace> -->
        <legacyMode>false</legacyMode>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <rosDebugLevel>Error</rosDebugLevel>
      </plugin>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <!-- <robotNamespace>/mir_100</robotNamespace> -->
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
