<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100" >

  <!-- structure -->
  <xacro:include filename="$(find mobipick_description)/urdf/mir_100/mir_100_v1.urdf.xacro" />

  <link name="world" />

  <xacro:mir_100 prefix=""/>


  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>


</robot>
