<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="True" />
  <param name="robot_description" command="$(find xacro)/xacro $(find mobipick_description)/urdf/MiR_100/MiR_100_v1_model.urdf.xacro" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobipick_description)/rviz/visualize_mir_100_v1.rviz" required="true" />
</launch>
