<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="True" />
  <arg name="gripper_ns" default="gripper" />

<!-- Load gazebo controller configurations from YAML file to parameter server -->
<!-- has to be outside mir_100 namespace until https://github.com/ros-simulation/gazebo_ros_pkgs/pull/637 is merged -->
<rosparam file="$(find mobipick_gazebo)/config/robotiq_2f_140/gazebo_controller.yaml" command="load" />

<group ns="$(arg gripper_ns)">

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mobipick_description)/config/robotiq_2f_140/joint_state_controller.yaml" command="load" />
  <rosparam file="$(find mobipick_description)/config/robotiq_2f_140/position_controller.yaml" command="load" />

  <include file="$(find mobipick_gazebo)/launch/robotiq_2f_140/spawn_robotiq_2f_140.launch">
        <arg name="namespace" value="$(arg gripper_ns)" /> 
   </include>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="gripper_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!-- <remap from="/joint_states" to="/mir_100/joint_states" /> -->
  </node>

</group>


</launch>
