<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mobipick_description)/urdf/ur5/ur5.urdf.xacro" />
  <xacro:include filename="$(find mobipick_description)/urdf/common.gazebo.xacro" />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "pedestal" />
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="pedestal">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.2 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.2 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
  </link>

  <joint name="pedestal_joint" type="fixed">
    <parent link="pedestal" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0" />
  </joint> 

  <xacro:ur5_robot prefix="" joint_limited="true"/>
  <xacro:controller_plugin_gazebo robot_namespace=""/>
</robot>
