<?xml version="1.0" ?>

<launch>
  <arg name="rviz" default="true" />
  <arg name="robot" default="mobipick-os" doc="Which variant of the mobipick? Can be 'mobipick-hb' or 'mobipick-os'" />
  
  <include file="$(find mobipick_description)/launch/mobipick/upload_mobipick_description.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam>
      zeros:
        ur5_shoulder_pan_joint:   0.00
        ur5_shoulder_lift_joint: -2.60
        ur5_elbow_joint:          2.43
        ur5_wrist_1_joint:       -2.05
        ur5_wrist_2_joint:       -1.57
        ur5_wrist_3_joint:        3.14
      source_list: ['/mobipick/joint_states']
    </rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find mobipick_description)/rviz/visualize_mobipick.rviz" required="true" />
</launch>
