<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mobipick">

  <!-- ############# MIR100 BASE ############## -->
  <xacro:include filename="$(find mobipick_description)/urdf/mir_100/mir_100_v1.urdf.xacro" />

  <xacro:mir_100 prefix=""/>

  <!-- ############## STRUCTURE ############### -->
  <xacro:include filename="$(find mobipick_description)/urdf/structure/mobipick_structure.urdf.xacro" />

  <joint name="mir_struct_joint" type="fixed">
    <parent link="surface" />
    <child link = "structure_part_down" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:structure prefix="structure_" height="0.065" variant="v1" />

  <!-- ############### UR5 ARM ################ -->
  <xacro:include filename="$(find mobipick_description)/urdf/ur5/ur5.urdf.xacro" />

  <joint name="struct_ur5_joint" type="fixed">
    <parent link="structure_pedestal_surface" />
    <child link = "ur5_base_link" />
    <origin xyz="0.0 0.0 0.0025" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:ur5_robot prefix="ur5_" joint_limited="true"/>

  <!-- ############## FT SENSOR ############### -->
  <xacro:include filename="$(find mobipick_description)/urdf/robotiq_ft_300/robotiq_ft_300.urdf.xacro" />

  <xacro:robotiq_ft_300 parent="ur5_tool0" prefix="" >
      <pose xyz="0 0 0" rpy="0 0 0" />
      <!-- <pose xyz="0 0 0.009" rpy="0 0 0" /> -->
  </xacro:robotiq_ft_300>

  <!-- ############### GRIPPER ################ -->
  <xacro:include filename="$(find mobipick_description)/urdf/robotiq_2f_140/robotiq_arg2f_140_model_macro.xacro" />

  <joint name="ft300_2f140_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
    <parent link="fts_toolside" />
    <child link="gripper_robotiq_arg2f_base_link" />
  </joint>

  <xacro:robotiq_arg2f_140 prefix="gripper_"/>

  <!-- ############### SENSOR MOUNT + 3D CAM  ################ -->
  <xacro:include filename="$(find mobipick_description)/urdf/sensors/gripper_cam.urdf.xacro" />

  <joint name="sensor_mount_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.005" rpy="0.0 ${-pi/2} ${pi/2}" />
    <parent link="gripper_robotiq_arg2f_base_link" />
    <child link="sensor_mount_link" />
  </joint>

  <gripper_cam />

  <!-- ################ GAZEBO ################ -->
  <xacro:include filename="$(find mobipick_description)/urdf/mobipick/mobipick.gazebo.xacro" />
</robot>
