<?xml version="1.0"?>
<launch>

  <!-- upload urdf models to param server -->
  <param name="long_table_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/conf_room_table.urdf.xacro'" />
  <param name="small_table_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/conf_room_table.urdf.xacro'
         width:=0.8
         depth:=0.8
         height:=0.72
         leg_offset:=0.0" />
  <param name="klt_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/klt.urdf.xacro'" />
  <param name="red_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/red_part.urdf.xacro'" />
  <param name="yellow_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/yellow_part.urdf.xacro'" />
  <param name="purple_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/purple_part.urdf.xacro'" />
  <param name="magenta_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/magenta_part.urdf.xacro'" />
  <param name="bright_green_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/bright_green_part.urdf.xacro'" />
  <param name="dark_green_part_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/insect_hotel/dark_green_part.urdf.xacro'" />

  <!-- spawn 1 table, 3 small tables -->
  <node name="spawn_model_worker_table_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param long_table_description -model table_1 -x 18.30 -y 15.18 -Y -1.5708"
        respawn="false" output="screen" />
  <node name="spawn_model_table_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param small_table_description -model table_2 -x 19.565 -y 13.76 -Y 0.0"
        respawn="false" output="screen" />
  <node name="spawn_model_table_3" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param small_table_description -model table_3 -x 21.165 -y 13.84 -Y 0.0"
        respawn="false" output="screen" />
  <node name="spawn_model_storage_table_4" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param small_table_description -model table_4 -x 18.30 -y 13.84 -Y 0.0"
        respawn="false" output="screen" />

  <!-- table 2 objects -->
  <node name="klt_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_1 -x 19.365 -y 13.96 -z 0.8 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="klt_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_2 -x 19.765 -y 13.96 -z 0.8 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="red_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param red_part_description -model red_part_1 -x 19.365 -y 13.96 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="yellow_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param yellow_part_description -model yellow_part_1 -x 19.765 -y 13.96 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />

  <!-- table 3 objects -->
  <node name="klt_3" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_3 -x 20.965 -y 13.96 -z 0.8 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="klt_4" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_4 -x 21.365 -y 13.96 -z 0.8 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="bright_green_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param bright_green_part_description -model bright_green_part_1 -x 20.965 -y 13.96 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="dark_green_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param dark_green_part_description -model dark_green_part_1 -x 21.365 -y 13.96 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />

  <!-- insect parts on storage table -->
  <node name="bright_green_part_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param bright_green_part_description -model bright_green_part_2 -x 18.45 -y 14.0 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="red_part_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param red_part_description -model red_part_2 -x 18.45 -y 13.7 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />
  <!--<node name="yellow_part_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param yellow_part_description -model yellow_part_2 -x 18.30 -y 13.7 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" /> -->
  <node name="purple_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param purple_part_description -model purple_part_1 -x 18.30 -y 14.0 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />
  <node name="magenta_part_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param magenta_part_description -model magenta_part_1 -x 18.15 -y 14.0 -z 0.75 -Y 1.5708"
        respawn="false" output="screen" />

</launch>
