<?xml version="1.0"?>
<launch>

  <!-- upload urdf models to param server -->
  <param name="table_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/conf_room_table.urdf.xacro'" />
  <param name="power_drill_with_grip_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/power_drill_with_grip.urdf.xacro'" />
  <param name="klt_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/klt.urdf.xacro'" />
  <param name="screwdriver_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/screwdriver.urdf.xacro'" />
  <param name="relay_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/relay.urdf.xacro'" />
  <param name="multimeter_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/multimeter.urdf.xacro'" />
  <!--<param name="hot_glue_gun_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/hot_glue_gun.urdf.xacro'" />-->

  <!-- spawn 3 tables -->
  <node  name="spawn_model_table_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_1 -x 13.22 -y 2.15 -Y 1.5708"
         respawn="false" output="screen" />
  <node  name="spawn_model_table_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_2 -x 12.07 -y 3.25 -Y 3.1416"
         respawn="false" output="screen" />
  <node  name="spawn_model_table_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -model table_3 -x 10.42 -y 3.25 -Y 3.1416"
         respawn="false" output="screen" />

  <!-- ::::::::: table 1 objects ::::::::: -->

  <!-- spawn power_drill_with_grip_2 on table 1 -->
  <node name="spawn_power_drill_with_grip_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param power_drill_with_grip_description -model power_drill_with_grip_2 -x 13.00 -y 2.05 -z 0.84 -R -1.5708 -P 0.0 -Y 2.88"
        respawn="false" output="screen" />

  <!-- spawn klt_2 on table 1 -->
  <node name="klt_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_2 -x 13.04 -y 2.5 -z 0.81 -R 0.0 -P 0.0 -Y 0.5"
        respawn="false" output="screen" />

  <!-- ::::::::: table 2 objects ::::::::: -->

  <!-- spawn power_drill_with_grip_1 on table 2 -->
  <node name="spawn_power_drill_with_grip_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param power_drill_with_grip_description -model power_drill_with_grip_1 -x 11.89 -y 3.09 -z 0.84 -R -1.5708 -P 0.0 -Y '-1.11'"
        respawn="false" output="screen" />

  <!-- spawn klt_1 on table 2 -->
  <node name="spawn_klt_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_1 -x 11.65 -y 3.10 -z 0.81 -R 0.0 -P 0.0 -Y -2.22"
        respawn="false" output="screen" />

  <!-- ::::::::: table 3 objects ::::::::: -->

  <!-- spawn screwdriver_1 on table 3 -->
  <node name="spawn_screwdriver" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param screwdriver_description -model screwdriver_1 -x 10.74 -y 3.06 -z 0.75 -Y 1.57"
        respawn="false" output="screen" />

  <!-- spawn relay_1 on table 3 -->
  <node name="spawn_relay_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param relay_description -model relay_1 -x 10.54 -y 3.00 -z 0.78 -R 0.0 -P 0.0 -Y -1.57"
        respawn="false" output="screen" />

  <!-- spawn klt_3 on table 3 -->
  <node name="klt_3" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_3 -x 10.28 -y 3.09 -z 0.81 -R 0.0 -P 0.0 -Y 1.57"
        respawn="false" output="screen" />

  <!-- spawn multimeter_1 on table 3 -->
  <node name="spawn_multimeter_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param multimeter_description -model multimeter_1 -x 10.03 -y 3.03 -z 0.75 -Y -1.57"
        respawn="false" output="screen" />

</launch>
