<?xml version="1.0"?>
<launch>

  <!-- upload urdf models to param server -->
  <param name="table_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/conf_room_table.urdf.xacro'" />
  <param name="small_table_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/conf_room_table.urdf.xacro'
         width:=0.8
         depth:=0.8
         height:=0.72
         leg_offset:=0.0" />
  <!--<param name="power_drill_with_grip_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/power_drill_with_grip.urdf.xacro'" />-->
  <param name="klt_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/klt.urdf.xacro'" />
  <param name="screwdriver_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/screwdriver.urdf.xacro'" />
  <param name="relay_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/relay.urdf.xacro'" />
  <!--<param name="multimeter_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/multimeter.urdf.xacro'" />-->
  <param name="hot_glue_gun_description"
         command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/hot_glue_gun.urdf.xacro'" />

  <!-- spawn four tables -->
  <node name="spawn_model_table_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param small_table_description -model table_1 -x 18.3 -y 15.18 -Y -1.5571"
        respawn="false" output="screen" />
  <node name="spawn_model_table_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param table_description -model table_2 -x 19.79 -y 13.99 -Y 0.0127"
        respawn="false" output="screen" />
  <node name="spawn_model_table_3" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param table_description -model table_3 -x 21.34 -y 14.0 -Y 0.0125"
        respawn="false" output="screen" />
  <node name="spawn_model_table_4" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param small_table_description -model table_4 -x 22.7 -y 15.04 -Y 1.5823"
        respawn="false" output="screen" />

  <!-- spawn two klts on the parts table -->
  <node name="klt_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_1 -x 18.46 -y 15.02 -z 0.8 -R 0.0 -P 0.0 -Y 0.0"
        respawn="false" output="screen" />
  <node name="klt_2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param klt_description -model klt_2 -x 18.13 -y 15.26 -z 0.8 -R 0.0 -P 0.0 -Y 0.23"
        respawn="false" output="screen" />

  <!-- spawn hot glue gun on the parts table -->
  <node name="hot_glue_gun" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param hot_glue_gun_description -model hot_glue_gun_1 -x 18.52 -y 15.35 -z 0.81 -R -1.5708 -P 0.0 -Y 0.54" />

  <!-- put placeholder item in the klts -->
  <node name="screwdriver_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param screwdriver_description -model screwdriver_1 -x 18.46 -y 15.03 -z 0.76 -R 0.0 -P 0.0 -Y 0.22" />
  <node name="relay_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param relay_description -model relay_1 -x 18.09 -y 15.24 -z 0.8 -R 0.0 -P 0.0 -Y 0.0" />

</launch>
