<?xml version="1.0"?>
<launch>
  <arg name="wait_for_table" default="true" />
  <arg name="x" default="0.35" />
  <arg name="y" default="-0.20" />
  <arg name="z" default="0.35" />

  <param name="coke_can_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/coke_can.urdf.xacro'" />

  <group if="$(arg wait_for_table)">
    <node name="spawn_cokecan1" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param coke_can_description -model cokecan_1 -wait 'table_1'
      -x $(arg x) -y $(arg y) -z $(arg z)" respawn="false" output="screen" />
  </group>
  <group unless="$(arg wait_for_table)">
    <node name="spawn_cokecan1" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param coke_can_description -model cokecan_1
      -x $(arg x) -y $(arg y) -z $(arg z)" respawn="false" output="screen" />
  </group>
</launch>
