<?xml version="1.0"?>
<launch>
  <arg name="model_name" default="hot_glue_gun_1" />
  <arg name="wait_for_table" default="true" />
  <arg name="wait_for_table_name" default="table_1" />
  <arg name="x" default="0.90" />
  <arg name="y" default="-0.20" />
  <arg name="z" default="0.81" />
  <arg name="roll" default="$(eval -pi / 2)" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="$(eval pi)" />

  <param name="hot_glue_gun_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/hot_glue_gun.urdf.xacro'" />

  <group if="$(arg wait_for_table)">
    <node name="spawn_$(arg model_name)" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param hot_glue_gun_description -model '$(arg model_name)' -wait '$(arg wait_for_table_name)'
      -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
  </group>
  <group unless="$(arg wait_for_table)">
    <node name="spawn_$(arg model_name)" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param hot_glue_gun_description -model '$(arg model_name)'
      -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
  </group>
</launch>
