<?xml version="1.0"?>
<launch>
  <arg name="wait_for_table" default="true" />
  <arg name="wait_for_table_name" default="table_1" />
  <arg name="x" default="12.55" />
  <arg name="y" default="3.86" />
  <arg name="z" default="0.80" />
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="0.0" />

  <param name="klt_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/klt.urdf.xacro'" />

  <group if="$(arg wait_for_table)">
    <node name="spawn_klt1" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param klt_description -model klt_1 -wait '$(arg wait_for_table_name)'
      -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
  </group>
  <group unless="$(arg wait_for_table)">
    <node name="spawn_klt1" pkg="gazebo_ros" type="spawn_model" args="-urdf
      -param klt_description -model klt_1
      -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
  </group>
</launch>
