<?xml version="1.0"?>
<launch>
  <arg name="name" default="power_drill_1" />
  <arg name="relative_to" default="" />

  <!-- if relative_to is set, include a "-wait '...'" parameter. -->
  <arg name="wait_param" default=""                           if="$(eval relative_to == '')" />
  <arg name="wait_param" default="-wait '$(arg relative_to)'" unless="$(eval relative_to == '')" />

  <!-- if relative_to is set: use it as the refrence frame, else world -->
  <arg name="reference_frame" default="$(arg relative_to)" unless="$(eval relative_to == '')" />
  <arg name="reference_frame" default="world"              if="$(eval relative_to == '')" />

  <!-- pose arguments -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1.10" />
  <arg name="roll" default="$(eval pi / 2)" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="$(eval pi)" />

  <param name="power_drill_description"
    command="$(find xacro)/xacro '$(find mobipick_gazebo)/urdf/power_drill.urdf.xacro'" />

  <node name="spawn_power_drill_$(arg name)" pkg="gazebo_ros" type="spawn_model" args="-urdf
    -param power_drill_description -model $(arg name)
    $(arg wait_param)
    -reference_frame '$(arg reference_frame)'
    -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
</launch>
